body {
    font-family: myFirstFont; 
    color: rgba(104, 140, 89, 1);
    background-color: rgba(104, 140, 89, 0.2);
    text-align: center;
    }
    
    h1{
        font-size: 80px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover, a:active {
        background-color: rgba(104, 140, 89, 0.4);
      } 

footer{
        background-color: rgba(64,87,55,1);
        text-align: center;
        font-size: smaller;
        color: white;
    
    }
    table{
        padding-left: 650px;
    }

    header{
        background-color: rgba(72, 97, 62, 1);
        text-align: center;
        font-family: myFirstFont;
        animation: slideshow 10s infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease-in-out;
        background-image: url(eigenebilder/bild.2.JPG);
    }
    @keyframes slideshow {
        25% {
            background-image: url(eigenebilder/bild.1.1.JPG);
        }
        50% {
            background-image: url(eigenebilder/bild.2.JPG);
        }
        70% {
            background-image: url(eigenebilder/bild.3.JPG);
        }
        100% {
            background-image: url(eigenebilder/malerei.1.JPG);
        }
    
    }
    .mydiv{
    background-color: rgba(64,87,55,1);
    color: rgba(104, 140, 89, 1);
    padding: 10px;
    margin-top: 0px;
    margin-left: 1050px;
    margin-right: 170px;
    }
    .fixed{
        background-color: rgba(104, 140, 89, 0.4);
        position: fixed;
      top: 200px;
      right: 10px;
      width: 300px;
      border: 3px solid rgba(64,87,55,1);
      color: white;
    }
    @font-face {
        font-family: myFirstFont;
        src: url(Oswald-VariableFont_wght.ttf);
      }
.first :first-child{
    background-color:rgba(104, 140, 89, 0.4) ;
    border-style: solid;
    border-width: 1px;
    margin-left: 600px;
    text-align: left;
    margin-right: 600px;
    }
.first :nth-child(2){
    background-color: rgba(104, 140, 89, 0.4);
    border-style: solid;
    border-width: 1px;
    margin-left: 600px;
    text-align: left;
    margin-right: 600px;
}
.first :nth-child(3){
    background-color: rgba(104, 140, 89, 0.4);
    border-style: solid;
    border-width: 1px;
    margin-left: 600px;
    text-align: left;
    margin-right: 600px;
}
.first :nth-child(4){
    background-color: rgba(104, 140, 89, 0.4);
    border-style: solid;
    border-width: 1px;
    margin-left: 600px;
    text-align: left;
    margin-right: 550px;
    padding-bottom: 50px;
}
.first :nth-child(6){
    background-color: rgba(104, 140, 89, 0.4);
    border-style: solid;
    border-width: 1px;
    margin-left: 600px;
    text-align: center;
    margin-right: 820px;
}
.main{
    border-style: hidden;
    margin-left: 400px;
    margin-right: 400px;
    text-align: left;
}